.banners {
  padding: 18px 0;

  &__inner {
    position: relative;
  }

  &__slider {
    overflow: hidden;

    &__container {
      display: flex;
      gap: 10px;
    }

    &__slide {
      min-width: 0;
      flex: 0 0 100%;

      .banner {
        height: 100%;
        padding: 24px 15px;
        min-height: 685px;

        border-radius: 16px;

        .text-anim {
          transform: translateY(-10px);
          clip-path: inset(0 0 100% 0);
          will-change: transform, clip-path;
        }

        .img-anim {
          will-change: transform;
          opacity: 0;
          scale: 0;
        }

        &__text {
          color: #FFF;
          font-size: 36px;
          font-weight: 700;
          line-height: 52px;
          letter-spacing: 0.36px;
          text-transform: uppercase;

          .alt {
            font-family: "Tkachenko Sketch 4F", serif;
            font-size: 54px;
            font-weight: 700;
            line-height: 53.733px;
            letter-spacing: 0.54px;
            text-transform: uppercase;

            position: relative;
          }
        }

        img {
          max-height: 48px;
          width: max-content;
          object-fit: contain;
          vertical-align: sub;
        }

        &.one {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #00AEEF;

          .line {
            width: 100%;
            transform: scaleX(0);
            position: absolute;
            left: 15px;
            bottom: -15px;
            z-index: 1;
          }

        }

        &.two {
          background-color: #07F;
          background-image: url("../../../../assets/img/girl.webp");
          background-size: 375px 495px;
          background-position: center bottom;
          background-repeat: no-repeat;

          .line {
            width: 100%;
            transform: rotate(3deg) scaleX(0);

            position: absolute;
            left: 0;
            bottom: -22px;
            z-index: 1;
          }
        }
      }
    }
  }

  &__actions {
    position: absolute;
    bottom: 12px;
    left: 16px;
    right: 16px;
    margin: auto;
    z-index: 2;
  }

  &__dots {
    display: flex;
    justify-content: center;
    gap: 17px;
    margin-top: 20px;
  }

  &__dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    padding: 0;
    transition: background-color .2s;

    &.active {
      background-color: #FFFFFF;
    }
  }
}
