<div class="banners">
  <div class="banners__inner">
    <div
      class="banners__slider"
      emblaCarousel
      [options]="cardsOptions"
      [subscribeToEvents]="['select']"
      (emblaChange)="onEmblaChanged($event)"
    >
      <div class="banners__slider__container">
        <div class="banners__slider__slide">
          <div class="banner one text-anim" #bannerOne>
            <div class="banner__text">
              <span>
                <span class="text-anim" #textSpan>Заведи</span>
                <img
                  #bannerImg
                  class="img-anim"
                  alt="lock"
                  ngSrc="assets/img/phone.webp"
                  width="199"
                  height="197"/>
                <img
                  #bannerImg
                  class="img-anim"
                  alt="heart"
                  ngSrc="assets/img/heart.webp"
                  width="201"
                  height="197"/>
                <img
                  #bannerImg
                  class="img-anim"
                  alt="cat"
                  ngSrc="assets/img/cat.webp"
                  width="198"
                  height="194"
                /></span>
              <br/>

              <span class="text-anim" #textSpan>новый номер</span><br/>
              <span>
                <span class="text-anim" #textSpan>для </span>
                <span class="alt">
                  <span class="text-anim" #textSpan>знакомств</span>
                  <img
                    #underline
                    class="line"
                    ngSrc="assets/img/line.svg"
                    height="27"
                    width="218"
                    alt="line"/></span
                ></span>
            </div>
          </div>
        </div>
        <div class="banners__slider__slide">
          <div class="banner two">
            <div class="banner__text">
              <span>на котором</span><br/>
              <span>не будет</span><br/>
              <span class="alt"
              >привязки
                <img
                  class="line"
                  ngSrc="assets/img/line.svg"
                  alt="line"
                  height="93"
                  width="61"/></span
              ><br/>
              <span>к твоему адресу</span><br/>
              <span
              >и аккаунтам
                <img
                  ngSrc="assets/img/lock.webp"
                  height="394"
                  width="398"
                  alt="lock"
                /></span>
            </div>
          </div>
        </div>
      </div>

      <div class="banners__actions">
        <app-button
          (btnClick)="onOpenModal()"
          variant="secondary"
          [isFull]="true"
        >Заказать сим-карту
        </app-button
        >
        <div class="banners__dots">
          @for (dot of [0, 1]; track $index) {
            <button
              class="banners__dot"
              [class.active]="selectedIndex() === $index"
              (click)="scrollTo($index)"
              type="button"
              [attr.aria-label]="'Перейти к слайду ' + ($index + 1)"
            ></button>
          }
        </div>
      </div>
    </div>
  </div>
</div>
