<div class="faq">
  <app-container>
    <div class="faq__inner">
      <h3 class="faq__title">Вопросы и ответы</h3>

      <div class="faq__list">
        <app-accordion title="Что входит в Абонемент на Максимум?">
          <p>
            Если ты подключишь Абонемент на Максимум на 3
            месяца, то каждые 30 дней тебе будут доступны пакеты по 50 ГБ и 2000 минут, а также безлимиты на
            популярные
            приложения и СМС.
          </p>
          <p>
            Читай полные условия на странице <a href="https://www.yota.ru/document/voice-actions/abonement_max"
                                                target="_blank">Абонемента на Максимум</a>.
          </p>
        </app-accordion>
        <app-accordion title="Как долго действует текущая цена?">
          <p>
            Специальная цена 499 ₽ действует до 10 августа. После
            этой даты стоимость Абонемента на Максимум составит 1000 ₽.
          </p>
        </app-accordion>
        <app-accordion title="Что будет, когда Абонемент закончится?">
          <p>
            Пока ты пользуешься Абонементом на Максимум, мы смотрим, сколько минут и гигабайтов ты тратишь в месяц. На
            основе этого после окончания тарифа рекомендуем подходящий пакет. Чтобы был запас, добавляем немного минут и
            гигабайтов. Если видим, что ты часто пользуешься какими-то конкретными приложениями, то рекомендуем сделать
            их безлимитными.
          </p>
        </app-accordion>
        <app-accordion
          title="Где можно будет посмотреть подобранный пакет?">
          <p>
            Мы покажем его в <a href="https://www.yota.ru/apps" target="_blank">приложении Yota</a> за 10 дней до
            конца
            Абонемента. Потом дважды напомним в СМС — за 3 дня и за день до конца.
          </p>
        </app-accordion>
        <app-accordion title="А если мне не понравится рекомендованный пакет?">
          <p>
            Ты сможешь настроить тариф
            самостоятельно в нашем гибком конструкторе. Главное — запланировать тариф. Без него не будет работать
            интернет, исходящие звонки будут оплачиваться поминутно, а СМС — поштучно.
          </p>
        </app-accordion>
        <app-accordion title="Можно подключить Абонемент на Максимум, если уже есть сим-карта Yota?">
          <p>
            Нет, не получится, поскольку предложение действует только для новых сим-карт.
          </p>
        </app-accordion>
        <app-accordion title="Можно ли самостоятельно сменить тариф раньше, чем закончится Абонемент?">
          <p>
            Нет, Абонемент на Максимум продлится свои положенные 90 дней.
          </p>
        </app-accordion>
        <app-accordion
          title="Если я соглашусь на рекомендованный пакет, он будет действовать всегда, или его можно будет поменять?">
          <p>
            Ты сможешь менять тариф в любое время — просто зайди в <a href="https://www.yota.ru/apps" target="_blank">приложение
            Yota</a> и настрой все как нравится.
          </p>
        </app-accordion>
        <app-accordion title="Как подключить Абонемент на Максимум?">
          <p>
            Закажи сим-карту с Абонементом на этой странице. При заказе сразу оплати связь на 90 дней (в том числе
            150 ₽
            за подключение) и получи сим-карту удобным способом. Затем активируй ее в <a
            href="https://www.yota.ru/apps"
            target="_blank">приложении
            Yota</a> и пользуйся
            связью.
          </p>
        </app-accordion>
        <app-accordion title="Как перенести свой номер в Yota?">
          <p>
            При заказе сим-карты отметь «Перенести свой номер в Yota» или подай заявление на перенос в удобной <a
            href="https://www.yota.ru/map?mode=sales" target="_blank">точке
            продаж Yota</a> — выбери на карте фильтр «Перенос номера в Yota». Подробнее о переносе номера читай <a
            href="https://www.yota.ru/mnp" target="_blank">здесь</a>.
          </p>
        </app-accordion>
        <app-accordion title="Как воспользоваться промокодом в VK Знакомствах?">
          <p>
            Активировать промокод можно в настройках сервиса <a href="https://vk.com/dating" target="_blank">внутри Вконтакте</a> или в отдельном приложении VK Знакомств.
            Если у тебя iPhone, активировать промокод можно только в мобильной версии приложения <a href="https://vk.com/dating" target="_blank">из браузера</a>.
          </p>
        </app-accordion>
        <app-accordion title="Сколько действует промокод?">
          <p>
            Промокод действует с 31.07.2025 по 31.12.2025.
          </p>
        </app-accordion>
        <app-accordion title="Куда обращаться, если промокод не сработает?">
          <p>
            Если с активацией промокода возникнут трудности, обратись в <a href="https://vk.com/support?act=faqs_dating&c=6&from=right" target="_blank">службу поддержки</a> VK Знакомств.
          </p>
        </app-accordion>
        <app-accordion title="Как это работает, если у меня уже есть подписка?">
          <p>Если у тебя активирован Premium в VK Знакомствах, то воспользоваться подарочной подпиской можно будет
            после
            окончания действия текущей.
          </p>
        </app-accordion>
        <app-accordion title="Зачем мне заполнять дополнительную форму в приложении?">
          <p>Это нужно для проверки твоего нового номера Yota. Если подтвердится, что сим-карта была оформлена, ты получишь промокод в подарок.</p>
        </app-accordion>
        <app-accordion title="Остались вопросы?">
          <p>Свяжись с нами <a href="https://www.yota.ru/contacts" target="_blank">удобным способом</a>.</p>
        </app-accordion>
      </div>
    </div>
  </app-container>
</div>
