<div class="steps">
  <app-container>
    <div class="steps__inner">
      <h3 class="steps__title">
        Как получить
        <span class="gradient-text">в подарок</span> VK Знакомства Premium
      </h3>
    </div>

    <div class="steps__list">
      <div class="steps__list-item">
        <img
          #stepItem
          ngSrc="assets/img/step_1.webp"
          alt="step"
          height="698"
          width="602"
        />
        <div class="arrow" #arrow>
          <img
            ngSrc="assets/img/arrow.svg"
            alt="arrow"
            height="93"
            width="61"
          />
        </div>
      </div>
      <div class="steps__list-item">
        <img
          #stepItem
          ngSrc="assets/img/step_2.webp"
          alt="step"
          height="698"
          width="602"
        />
        <div class="arrow left" #arrow>
          <img
            ngSrc="assets/img/arrow.svg"
            alt="arrow"
            height="93"
            width="61"
          />
        </div>
      </div>
      <div class="steps__list-item">
        <img
          #stepItem
          ngSrc="assets/img/step_3.webp"
          alt="step"
          height="698"
          width="602"
        />
        <div class="arrow" #arrow>
          <img
            ngSrc="assets/img/arrow.svg"
            alt="arrow"
            height="93"
            width="61"
          />
        </div>
      </div>
      <div class="steps__list-item">
        <img
          #stepItem
          ngSrc="assets/img/step_4.webp"
          alt="step"
          height="698"
          width="602"
        />
      </div>
    </div>
  </app-container>
</div>
