.intro {
  padding: 24px 0;

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: 5px;

    text-transform: uppercase;

    .text-anim, {
      transform: translateY(-10px);
      clip-path: inset(0 0 100% 0);
      will-change: transform, opacity, clip-path;
    }

    &__images {
      position: relative;
      padding-right: 160px;

      .anim-img {
        will-change: transform;
        opacity: 0;
        scale: 0;
      }

      .heart {
        max-width: 48px;
        max-height: 49px;
        position: absolute;
        top: -5px;
        bottom: 0;
        left: 78px;
        z-index: 1;
        margin: auto;
        transform: rotate(-15deg);
      }

      .sim {
        max-width: 84px;
        max-height: 60px;
        position: absolute;
        top: -11px;
        bottom: 0;
        left: 110px;
        z-index: 2;
        margin: auto;
        transform: rotate(-5deg);
      }

      .cat {
        max-width: 53px;
        max-height: 54px;
        position: absolute;
        left: 178px;
        top: 4px;
        bottom: 0;
        z-index: 3;
        margin: auto;
        transform: rotate(15deg);
      }
    }
  }

  .btn {
    opacity: 0;
    will-change: opacity;
  }
}
