<div class="intro">
  <app-container>
    <div class="intro__inner">
      <h1 class="intro__title">
        <div class="gradient-text text-anim" #text>знакомства</div>
        <div class="intro__title__images">
          <span class="text-anim" #text>на</span>
          <img
            class="heart anim-img"
            #img
            ngSrc="assets/img/heart.webp"
            alt="heart"
            height="197"
            width="201"
          />
          <img
            class="sim anim-img"
            #img
            ngSrc="assets/img/sim.webp"
            alt="sim"
            height="197"
            width="276"
          />
          <img
            class="cat anim-img"
            #img
            ngSrc="assets/img/cat.webp"
            alt="cat"
            height="194"
            width="198"
          />
        </div>
        <div class="text-anim" #text><span>максимум</span></div>
      </h1>
      <div class="btn" #btn>
        <app-button (btnClick)="onOpenModal()">Заказать сим-карту</app-button>
      </div>
    </div>
  </app-container>
</div>
