<div
  class="modal-content"
  [class.closing]="modalService.isClosing()"
  swipeDown
  [threshold]="100"
  (swipeDown)="onSwipeDown()"
>
  <div class="modal-swipe-indicator"></div>
  <div class="modal-header">
    @if (data?.title) {
      <h4 class="modal-title">{{ data?.title }}</h4>
    }

    <button
      class="modal-close"
      (click)="close()"
      type="button"
      aria-label="Закрыть"
    >
      <app-close-icon/>
    </button>
  </div>
  <div class="modal-body">
    <ng-content></ng-content>
  </div>
</div>
