<footer class="footer">
  <app-container>
    <div class="footer__inner">

      <div class="footer__top">
        <div class="copy">
          <span class="sb">18+ </span>
          <span>&copy; 2025 ООО «Скартел»</span>
        </div>

        <div class="social">
          <a href="https://vk.com/yota" target="_blank" class="social__link vk">
            <app-vk-icon/>
          </a>
          <a href="https://t.me/yotarussia" target="_blank" class="social__link tg">
            <app-telegram-icon/>
          </a>
        </div>
      </div>


      <div class="footer__info">
        <span>
          Продолжая использовать наш сайт, ты даешь согласие на обработку файлов Cookies и других пользовательских данных, в т.ч. с использованием системы Яндекс Метрика, в соответствии с <a
          href="https://static.yota.ru/upload/public/doc/politika_konfiden_Yota.pdf" target="_blank">Политикой конфиденциальности</a>
        </span>
      </div>
      <div class="footer__info">
        <a target="_blank"
           href="https://www.yota.ru/downloads/politics_with_respect_to_personal_data_processing_v6.pdf">
          Политика в отношении обработки персональных данных
        </a>
      </div>
    </div>
  </app-container>
</footer>
