.fixed-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px;
  background-color: rgba(229, 247, 253, 1);
  transform: translateY(100%);
  transition: transform .3s;

  &.visible {
    transform: translateY(0);
  }
}