@font-face {
  font-family: "Tkachenko Sketch 4F";
  src: url("/assets/fonts/TkachenkoSketch4F/TkachenkoSketch4F-Bold.eot");
  src: local("Tkachenko Sketch 4F Bold"), local("TkachenkoSketch4F-Bold"),
    url("/assets/fonts/TkachenkoSketch4F/TkachenkoSketch4F-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/TkachenkoSketch4F/TkachenkoSketch4F-Bold.woff2")
      format("woff2"),
    url("/assets/fonts/TkachenkoSketch4F/TkachenkoSketch4F-Bold.woff")
      format("woff"),
    url("/assets/fonts/TkachenkoSketch4F/TkachenkoSketch4F-Bold.ttf")
      format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Tkachenko Sketch 4F";
  src: url("/assets/fonts/TkachenkoSketch4F/TkachenkoSketch4F.eot");
  src: local("Tkachenko Sketch 4F"), local("TkachenkoSketch4F"),
    url("/assets/fonts/TkachenkoSketch4F/TkachenkoSketch4F.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/TkachenkoSketch4F/TkachenkoSketch4F.woff2")
      format("woff2"),
    url("/assets/fonts/TkachenkoSketch4F/TkachenkoSketch4F.woff") format("woff"),
    url("/assets/fonts/TkachenkoSketch4F/TkachenkoSketch4F.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}
